<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/imagen/login.png" alt="login"/>
        <h1>Login</h1>
        <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
            <div class="form-floating mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido 
                </span>
                <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es inválido 
                </span>
            </div>
            <div class="form-floating mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <label>Password</label>
                <span *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> es requerido 
                </span>
                <span *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched" class="text-danger errorLabel">
                    El <strong>password</strong> debe tener 6 caracteres 
                </span>
            </div>
            <div class="form-floating mb-3">
                <input formControlName="repetirPassword" type="password" class="form-control" placeholder="Repetir Password">
                <label>Repetir Password</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="registrarUsuario.invalid">Aceptar</button>
            </div>
        </form>
        <a class="mb-3" routerLink="/login">Volver</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
