<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/imagen/login.png" alt="login" />
    <h1>Login</h1>
    <form (ngSubmit)="login()" [formGroup]="loginUsuario">
      <div class="form-floating mb-3">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
        <label>Email</label>
        <span
          *ngIf="
            loginUsuario.get('email')?.hasError('required') &&
            loginUsuario.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          El <strong>correo</strong> es requerido
        </span>
        <span
          *ngIf="
            loginUsuario.get('email')?.hasError('email') &&
            loginUsuario.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          El <strong>correo</strong> es inválido
        </span>
        <span
          *ngIf="
            loginUsuario.get('password')?.hasError('required') &&
            loginUsuario.get('password')?.touched
          "
          class="text-danger errorLabel"
        >
          El <strong>password</strong> es requerido
        </span>
        <span
          *ngIf="
            loginUsuario.get('password')?.hasError('minlength') &&
            loginUsuario.get('password')?.touched
          "
          class="text-danger errorLabel"
        >
          El <strong>password</strong> debe tener 6 caracteres
        </span>
      </div>
      <div class="form-floating mb-3">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
        <label>Password</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="loginUsuario.invalid"
        >
          Ingresar
        </button>
      </div>
    </form>
    <p class="mb-3">
      No tienes cuenta? <a routerLink="/registrar-ususario">Registrar</a>
    </p>
    <a class="mb-3" routerLink="/recuperar-password">Recuperar contraseña</a>

    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
